*.log
*.o
*.a
*.so
*.exe
*.ttf
*.out
*.bin
*.elf
*.s
*.swp
TIC_TAC_TOE/
smartcampus
*.dll
smartcampus

react/
*.pdf
*.apk
*.iss
*.docx
*.ini
*.avi
*.png
*.mp3
intern/
*.js
java/
javafx/
*.log
learn/
*.mp4
pic/

