Package: TIC-TAC-TOE
Version: 1.0
Section: games
Priority: optional
Architecture: amd64
Depends: libsdl2-dev, libwayland-dev
Maintainer:AATHI S aathi.programmer.gmail.com
Description: A simple Tic Tac Toe game using SDL2.

